name: Keep Streamlit Alive

on:
  schedule:
    - cron: "35 3 * * *"
    - cron: "30 8 * * *"
    - cron: "30 11 * * *"
  workflow_dispatch: 

jobs:
  ping_site:
    runs-on: ubuntu-latest
    steps:
      - name: Check website status
        run: |
          curl -I https://talk-to-your-csv-n9abwf4nxyhvvyr2tye5pz.streamlit.app/
